<div class="container-fluid">
  <div class="row">
      <div class="col-6 offset-2">
              <form class="form-group" (ngSubmit)="login(f.value)" #f="ngForm">

              <label for="email">email</label>
              <input
                  type="text"
                  ngModel
                  name="email"
                  id="email"
                  class="form-control"
                  required
                #email ="ngModel"
              >
              <div *ngIf="email.touched && email.invalid" >
                <small  class="form-text " style="color: red; font-family: 'Arial Black'">
                    insert email</small></div>

              <label for="password">password</label>
              <input
                  type="password"
                  ngModel
                  name="password"
                  id="password"
                  class="form-control"
                  required = "true"
                  #password="ngModel"
              >

              <div *ngIf="password.touched && password.invalid" >
                <small  class="form-text " style="color: red; font-family: 'Arial Black'">
                    insert your password</small></div>

                
              <div class="row">
                <div class="col-3 offset-4">
                    <button class="btn btn-success" type="submit" style="margin-top:20px; width: 150px" [disabled]= '!f.valid'> sign in</button>

                </div>
              </div>
          </form>
         
      </div>
  </div>
</div>
