<div class="container-fluid">

        <div class="row">
                <div class="col4 offset-4">
                        <img [src]= "image.value" class="rounded" style="margin-top: 30px; width:300px">
                        <br><br><br>
                </div>
              </div>

  <div class="row">
    <div class="col-8 offset-2">
      <form (ngSubmit)="saveChanges(f.value)" #f="ngForm" class="form-group">

        <label for="name">Name</label>
        <input
            type="text"
            ngModel
            name="name"
            id="name"
            class="form-control"
            required
            #name="ngModel"
        >
        <div *ngIf="name.touched && name.invalid" >
            <small  class="form-text " style="color: red; font-family: 'Arial Black'">
                we neek to know your name</small></div>

        <label for="email">email</label>
        <input
            type="email"
            ngModel
            name="email"
            id="email"
            class="form-control"
            required
            #email="ngModel"
        > 
        <div *ngIf="email.touched && email.invalid" >
            <small  class="form-text " style="color: red; font-family: 'Arial Black'">
                please add your email</small></div>

        <label for="password">password</label>
        <input
            type="password"
            ngModel
            name="password"
            id="password"
            class="form-control"
            placeholder= "if you don't want to change password leave this field empty"
        >
        <label for="image">image</label>
        <input
            type="text"
            ngModel
            name="image"
            id="image"
            class="form-control"
            #image="ngModel"
        >

        <div class="row">
                <div class="col-3 offset-4">
                    <button class="btn btn-success" type="submit" style="margin-top:20px; width: 150px"> save changes</button>

                </div>
              </div>     
              <div class="alert alert-success" *ngIf="updated==true && !updateMsg.errmsg">
                <strong>Success!</strong> {{updateMsg}}.
              </div>     
              
              <div class="alert alert-danger" *ngIf="updated==true && updateMsg.errmsg">
                <strong>Error!</strong> {{updateMsg.errmsg}}.
              </div>     

      </form>
    </div>
  </div>
</div>